# Python
/venv/
/__pycache__/

# Local configuration
/config.ini
*.cdsapirc

# Copernicus default download filename
download.grib
download.nc

# Workdir
/data/
/split_data/
sirane/sirane*

# Others
/tmp/
