# Python
/venv/
envCapta/
/__pycache__/
dataCapteurs/.ipynb_checkpoints

# Local configuration
/config.ini
*.cdsapirc

# Copernicus default download filename
download.grib
download.nc

# Workdir
/data/
/split_data/
sirane/sirane*
sirane/*
!sirane/.keep

# Python
__pycache__/

# Others
/tmp/
